.app__aboutUs {
  position: relative;
}

.app__aboutUs-overlay {
  position: absolute;
  inset: 0;
}

.app__aboutUs-overlay img {
  width: 500px;
  z-index: 0;
}

.app__aboutUs-content {
  width: 100%;
  z-index: 2;
}

.app__aboutUs-content-about {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
  text-align: right;
}

.app__aboutUs-content-cone {
  margin: 2rem 4rem;
}

.app__aboutUs-content-history {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  text-align: left;
}

.app__aboutUs-content-about p,
.app__aboutUs-content-history p {
  margin: 2rem 0;
}

@media screen and (min-width: 2000px) {
  .app__aboutUs-content-cone img {
    height: 900px;
  }
  .app__aboutUs-content-about p,
  .app__aboutUs-content-history p {
    margin: 4rem 0;
  }
}

@media screen and (max-width: 900px) {
  .app__aboutUs-content {
    flex-direction: column;
  }
  .app__aboutUs-content-cone {
    margin: 4rem 0;
  }
}

/* @media screen and (max-width:650px) {

} */
